<div class="auth-container">
  <div class="module-card auth-card">
    <div class="qnu-card-header">
      <h3 class="form-title">THIẾT LẬP MẬT KHẨU MỚI</h3>
    </div>
    <div class="auth-card-body">
      <p class="subtitle">Nhập mật khẩu mới để hoàn tất quá trình</p>
      
      <div class="form-group">
        <label>Mật khẩu mới</label>
        <input type="password" [(ngModel)]="newPassword" placeholder="••••••••" [disabled]="isLoading">
      </div>

      <button class="btn-qnu-primary" (click)="resetPassword()" [disabled]="isLoading">
        <span *ngIf="!isLoading">Cập Nhật Mật Khẩu</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>
    </div>
  </div>
</div>